VITE_FIREBASE_API_KEY=AIzaSyCDvBZJWR_GUU-cl9iX3080fO-7dxLJQUE
VITE_FIREBASE_AUTH_DOMAIN=first-project-fe0c1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=first-project-fe0c1
VITE_FIREBASE_STORAGE_BUCKET=first-project-fe0c1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=157760719429
VITE_FIREBASE_APP_ID=1:157760719429:web:280608f5cb1303e6f7f12c
VITE_FIREBASE_VAPID_KEY=BN2sTP2HDZDO7sYEiHtVRZ6Ja86hU9b6eCCNfC2RZzLNSWI35X_VudRHlECU6oT5swgv6sfgnH8ZTSJfm3Z29wM

FIREBASE_PROJECT_ID=first-project-fe0c1
FIREBASE_DATABASE_ID=(default)
FIREBASE_CLIENT_EMAIL=replace_with_client_email_from_service_account_json
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_PRIVATE_KEY_FROM_SERVICE_ACCOUNT_JSON\n-----END PRIVATE KEY-----\n"

PUBLIC_APP_URL=https://yourapp.vercel.app
